extends ../layout

block content
  - voteid = 'Vote ID ' + vote._id
  h1= voteid
  form(action=`/votes/${vote._id}/edit`,method='post',name='updateuser',enctype='application/x-www-form-urlencoded')
    label Name:
      input#inputName(type='text', value=vote.name, name='name')
    label Question:
      input#inputQuestion(type="text", value=vote.question, name="question")
    label Voting type:
      select(name="type")
        if vote.type === 'agreement'
          option(value="agreement" selected) Agreement Voting
        else
          option(value="agreement") Agreement Voting
        if vote.type === 'stv'
          option(value="stv" selected) Ranked Choice Voting
        else
          option(value="stv") Ranked Choice Voting
    label Responses:
      textarea#inputResponses(name="responses")=responses
    label Passphrase:
      input#inputPassphrase(type='password', value='', name='passphrase')
    label
      input(type='hidden',value='PUT',name='_method')
    label
      button#btnSubmit(type='submit') Update
