extends ../layout

block content
  h1= vote.question
  head
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans+Condensed:300|Pacifico")

  #blindContainer
    - name = 'Session Name: ' + vote.name
    p= name
    form(action=`/votes/${vote._id}/edit`,method='post',name='submitvote',enctype='application/x-www-form-urlencoded')
      div#choices
        if vote.type === 'stv'
          each response, i in vote.responses
            div.response
              label= response
                input#inputName(type="number", name='r' + i,value=i+1, min=1, max=vote.responses.length, draggable="true")
        if vote.type === 'agreement'
          each response, i in vote.responses
            label= response
              input#inputName(type="checkbox", name='r' + i)

      label
        input(type='hidden',value='PATCH',name='_method')

      label
        button#btnSubmit(type='submit') Vote
    p
      a(href=`/votes/${vote._id}/edit`) Edit
