extends ../layout

block content
  a(href='/users/new') Register

  h1= title
  ul
    each user, i in users
      li= user.name
      li= user.email
      li= user._id
      form(action=`/users/${user._id}/edit`,method='post',enctype='application/x-www-form-urlencoded')
        input(type='hidden',value='DELETE',name='_method')
        button(type='submit').
          Delete
      p
        a(href=`/users/${user._id}/edit`) Edit
      p
        a(href=`/users/${user._id}`) Show
